
ServerExample/ServerExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
ServerExample/ServerExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServerExample/ServerExample/obj/Debug/ServerExample.csprojAssemblyReference.cache
